.about {
    &__container {
        display: flex;

        @include media ($lg) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__content {
        max-width: 650px;
        width: 100%;

        @include media ($nb) {
            max-width: 500px;
            margin-top: 50px;
        }

        @include media ($xs) {
            padding: 0 15px;
        }
    }

    &__left {
        max-width: 960px;
        width: 100%;
    }

    &__right {
        max-width: 960px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: $black;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include media ($xs) {
            font-size: 32px;
            margin-top: 50px;
        }
    }

    &__text {
        color: $black;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 50px;

        @include media ($nb) {
            margin-top: 20px;
            font-size: 18px;
            max-width: 500px;
        }
    }

    &__img {
        width: 100%;

        @include media ($md) {
            margin-top: 50px;
            max-height: 400px;
            height: 100%;
            object-fit: none;
        }

        @include media ($xs) {
            height: 300px !important;
        }

        @include media ($nb) {
           height: 575px;
           object-fit: cover;
        }
    }

    &__stamp {
        @include media ($nb) {
            width: 150px;
        }

        @include media ($nb) {
            width: 250px;
        }
    }
}